.titleText {
	font-size: 250px;
	text-align: center;
	animation: fadein 3s;
	font-family: 'Roboto Slab', light;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.flex-container {
	display: flexbox;
	text-align: center;
}
