@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
.title {
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	color: white;
	margin: 50px 0px;
	text-align: center;
}
